<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Demo Title</title>
</head>
<body>
    <div class='main_content my-5'
        style='display: flex; justify-content: center; align-items: center; height: 100vh'>

        <div className='card'>
            <div class="card-title"
                style="text-align:center">
                <h1>Client Demo Page</h1>
            </div>

            <div class="card-body">
                <p className='my-3'
                    style= 'text-align:center'>
                    This is a demo page where the user is redirected to after the transaction is completed.
                    <br/>
                    The URL of this page will be provided by the client.
                </p>
            </div>
        </div>
    </div>
</body>
</html>